<div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <!--Graph Card-->
    <div class="bg-gray-50 border-transparent rounded-lg shadow-xl dark:bg-gray-800">
        <div class="bg-gradient-to-b from-pink-200 to-pink-100 border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-pink-600"><i class="fas fa-users fa-2x fa-inverse"></i>
                    </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h2 class="font-bold uppercase text-gray-600">Humidity</h2>
                    <p id="humidityAverage" class="font-bold text-3xl">{{ average }}</p>
                </div>
            </div>
        </div>
        <!-- <div class="p-5">
            <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
            <script>
                new Chart(document.getElementById("chartjs-1"), {
                    "type": "line",
                    "data": {
                        "labels": ["12am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm"],
                        "datasets": [{
                            "label": "Views",
                            "data": [65, 59, 80, 81, 56, 55, 40, 32],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)",
                            "lineTension": 0.1
                        }]
                    },
                    "options": {}
                });
            </script>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
                integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function () {
                const config = {
                    type: 'line',
                    data: {
                        labels: Array(15).fill("00:00:00"),
                        datasets: [{
                            label: "Views",
                            backgroundColor: 'rgb(75, 192, 192)',
                            borderColor: 'rgb(75, 192, 192)',
                            data: Array(15).fill(null),
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value'
                                }
                            }]
                        }
                    }
                };
                hsum = 0
                const hnum = Array(15).fill(0)
                hx = 0
                const context = document.getElementById('chartjs-1').getContext('2d');
        
                const lineChart = new Chart(context, config);
        
                const source = new EventSource("/chart-data-humidity");
        
                source.onmessage = function (event) {
                    const data = JSON.parse(event.data);
                    if (config.data.labels.length === 15) {
                        config.data.labels.shift();
                        config.data.datasets[0].data.shift();
                    }
                    let newTime = data.time
                    newTime = newTime.split(":")
                    // console.log("Value", data.value)
                    // console.log('Time',data.time)
                    if(data.time <= 12 || newTime[0] <= 0 || newTime[0] < 12){
                        newTime[0]=newTime[0]-12
                        
                        if (newTime[0] == -12){
                            config.data.labels.push(12+":"+newTime[1]+":"+newTime[2]+" AM");   
                            
                        }
                        else
                            config.data.labels.push(data.time+" AM");   
                            // console.log('Morning', newTime[0])                
                    }
                    else{
                        if(newTime[0] <= 12){
                            config.data.labels.push(12+":"+newTime[1]+":"+newTime[2]+" PM");   
                            // console.log("12PM")
                        }
                        else{
                            newTime[0]=newTime[0]-12
                            config.data.labels.push(newTime[0]+":"+newTime[1]+":"+newTime[2]+" PM");
                            // console.log("12PM past")
                        }
                    }
                    config.data.datasets[0].data.push(data.value);
                    lineChart.update();
                    // sum = 0
                    if (hnum[14] !=0 || hnum[0] == undefined){
                        hsum = hsum - hnum[0]
                        hnum.shift()
                        // console.log("dapat pumasok dito")
                        hx=hx-1
                    }
                    // num.shift()
                    hnum[hx] = Math.round(data.value * 100) / 100
                    hsum = hnum[hx] + hsum
                    // console.log("Value: ", num[x])
                    // console.log("first value: ",num[0])
                    // console.log("number of X: ", num.length )
                    // // sum = sum - num[0]
                    // console.log(x," ",sum)
                    
                    // console.log("Average: ", average)
                    haverage = hsum / 15
                    hx++
                    document.getElementById("humidityAverage").innerHTML = Math.round(haverage * 100) / 100;
                    // console.log(Math.round(average * 100) / 100)
                }
            });
        </script>
    </div>
    <!--/Graph Card-->
</div>