<div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <!--Graph Card-->
    <div class="bg-gray-50 border-transparent rounded-lg shadow-xl dark:bg-gray-800">
        <div class="bg-gradient-to-b from-red-200 to-red-100 border-b-4 border-red-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-red-600"><i class="fas fa-inbox fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h2 class="font-bold uppercase text-gray-600">pH Level</h2>
                    <p class="font-bold text-3xl">{{phlevel}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="p-5">
            <canvas id="chartjs-5" class="chartjs" width="undefined" height="undefined"></canvas>
            <script>
                new Chart(document.getElementById("chartjs-5"), {
                    "type": "line",
                    "data": {
                        "labels": ["12am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm"],
                        "datasets": [{
                            "label": "Views",
                            "data": [65, 59, 80, 81, 56, 55, 40],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)",
                            "lineTension": 0.1
                        }]
                    },
                    "options": {}
                });
            </script>
        </div> -->
        <div class="p-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chartjs-5" class="chartjs" width="undefined" height="undefined"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
                integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function () {
                const config = {
                    type: 'line',
                    data: {
                        labels: Array(30).fill("00:00:00"),
                        datasets: [{
                            label: "Views",
                            backgroundColor: 'rgb(75, 192, 192)',
                            borderColor: 'rgb(75, 192, 192)',
                            data: Array(30).fill(null),
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: ''
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value'
                                }
                            }]
                        }
                    }
                };
        
                const context = document.getElementById('chartjs-5').getContext('2d');
        
                const lineChart = new Chart(context, config);
        
                const source = new EventSource("/chart-data");
        
                source.onmessage = function (event) {
                    const data = JSON.parse(event.data);
                    if (config.data.labels.length === 30) {
                        config.data.labels.shift();
                        config.data.datasets[0].data.shift();
                    }
                    config.data.labels.push(data.time);
                    config.data.datasets[0].data.push(data.value);
                    lineChart.update();
                }
            });
        </script>
    </div>
    <!--/Graph Card-->
</div>